body{
    display: flex;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

.side-banner {
    width: 35vw;
    background-image: url(./images/img.jpg);
    background-size: cover;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 1, 0.6);
    gap: 5px;
    position: relative;
    top: 25vh;
}

.logo {
    width: 100px;
    height: auto;
}

h1 {
    color: white;
    font-family: "Lilita One", serif;
    font-size: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: beige;
    width: 65vw;
}

.text {
    font-size: 20px;
    padding: 0px 250px 20px 50px;
    font-weight: bold;
}

.form-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 50px 50px 50px;
    box-shadow: 0px 3px rgba(0, 0, 1, 0.2);
}

#form {
    display: flex;
    text-transform: uppercase;
    gap: 50px;
    font-size: 12px;
    color: gray;
}

h3 {
    font-size: 20px;
}

input {
    width: 250px;
}

label, input {
    display: block;
}

input[type="password"]:invalid {
    border-color: red;
}

.submit {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

button {
    width: 200px;
    height: 40px;
    background-color: #f7f30c;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    box-shadow: 1px 2px;
}





